.features {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
}
@media only screen and (min-width: 768px) {
	.features {
		flex-direction: row;
	}
}

.feature {
  border: solid 1px #979797;
  background-color: #ffffffa8;
	padding: 2rem;
}
.feature img {
  max-width: 100%;
}
.feature h2 {
	font-size: 1.125rem;
	line-height: 1.3;
	font-weight: normal;
}

.feature h3 {
	font-size: .875rem;
	line-height: 1.4;
}
@media only screen and (min-width: 768px) {
	.feature {
		padding: 2rem;
	}
	.feature h2 {
		font-size: 2.25rem;
		font-weight: bold;
		color: #4a4a4a;
	}
	.feature h3 {
		font-size: 1rem;
		line-height: 1.2;
		font-weight: 300;
		color: #4a4a4a;
	}
}